<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>OTP Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div style="background-color: #f2f2f2; padding: 20px;">
        <div
            style="background-color: #ffffff; max-width: 600px; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px #888888;">
            <h2 style="text-align: center;">One Time Password (OTP)</h2>
            <p style="font-size: 16px;">Your OTP is: <span style="font-weight: bold;">{{otp}}</span></p>
            <p style="font-size: 16px;">This OTP is valid for only 2 minutes. Please do not share it with anyone.</p>
            <p style="font-size: 16px;">Regards,<br />Your HungTruong Website</p>
        </div>
    </div>
</body>

</html>